<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.roadtokingdom.RoadToKingdomCheerUpActivity" />
        <activity
            android:name=".presentation.popup.LoadingSavePopUpActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".presentation.popup.RequestReviewPopUpActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".presentation.popup.DeleteBannerPopUpActivity"
            android:theme="@style/categoryEditTheme" />
        <activity
            android:name=".presentation.popup.SaveFullPopUpActivity"
            android:theme="@style/categoryEditTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5263527473804623~2650031418" />

        <activity
            android:name=".presentation.makingcheerup.MakingCheerUpTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.cheeringboard.CheeringBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullTheme" />
        <activity android:name=".presentation.main.MainActivity" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>